:root {
  --teal-900: #00191b;
  --white: white;
  --cool-grey-900\<deleted\|variable-cfda1354\>: #1b2b3e;
  --teal-300: #aab2b3;
  --bright-teal-500: #6cbdbb;
  --teal-700: #394c4e;
  --teal-600: #556667;
  --teal-400: #8e999a;
  --cool-grey-150\<deleted\|variable-1efc54f7\>: #ecf1f3;
  --teal-800: #1c3334;
  --teal-750: #2a3f41;
  --teal-850: #0e2628;
  --teal-500: #717f80;
  --bright-teal-300: #a6dad9;
  --teal-100: #e3e5e6;
  --teal-200: #c6cccc;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-pagination-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.w-pagination-previous {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-previous-icon {
  margin-right: 4px;
}

.w-pagination-next {
  color: #333;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 9px 20px;
  font-size: 14px;
  display: block;
}

.w-pagination-next-icon {
  margin-left: 4px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--teal-900);
  color: var(--white);
  letter-spacing: -.45px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 160%;
}

h1 {
  letter-spacing: -4.32px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -4px;
  font-size: 72px;
  font-weight: 400;
  line-height: 115%;
}

h2 {
  letter-spacing: -1.4px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 300;
  line-height: 120%;
}

h3 {
  letter-spacing: -1.1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 300;
  line-height: 125%;
}

h4 {
  color: var(--cool-grey-900\<deleted\|variable-cfda1354\>);
  letter-spacing: -.44px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 125%;
}

h5 {
  color: var(--cool-grey-900\<deleted\|variable-cfda1354\>);
  letter-spacing: -.22px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: 0;
  font-weight: 700;
  display: block;
}

.container-default-old {
  object-fit: fill;
  max-width: 77.78vw;
  position: static;
  inset: 0%;
  overflow: visible;
}

.container-default-old.padding-top-80px.padding-128px {
  padding-top: 0;
}

.padding-24px-old {
  padding-bottom: 24px;
}

.padding-24px-old.events-title {
  text-align: left;
}

.padding-8px-old {
  color: var(--teal-300);
  padding-bottom: 8px;
}

.padding-16px-old {
  color: var(--teal-300);
  padding-bottom: 16px;
}

.padding-32px-old {
  color: var(--white);
  padding-bottom: 32px;
}

.padding-32px-old.footer-grey {
  color: var(--teal-300);
}

.padding-32px-old.footer-grey.small-text {
  font-size: 14px;
  line-height: 160%;
}

.padding-40px-old {
  padding-bottom: 40px;
}

.padding-40px-old.hover-opacity {
  border-radius: 0;
  max-width: 410px;
}

.padding-40px-old.ratio-auto {
  color: var(--teal-300);
}

.padding-56px-old {
  padding-bottom: 56px;
}

.padding-80px-old {
  color: var(--teal-300);
  padding-bottom: 80px;
}

.padding-80px-old.padding-top-80px.mobile-header {
  color: var(--white);
}

.padding-128px-old {
  padding-bottom: 128px;
}

.color-orange {
  color: var(--bright-teal-500);
}

.grid-4-4-4 {
  grid-column-gap: 3.7vw;
  text-align: left;
  grid-template-rows: auto;
  grid-template-columns: 23.38vw 23.38vw 23.38vw;
}

.div-divider {
  background-color: var(--teal-700);
  height: 1px;
}

.div-divider.margin-80px {
  margin-bottom: 80px;
}

.margin-128px-old {
  margin-bottom: 128px;
}

.hide-desktop {
  display: none;
}

.text-field {
  border: 1px solid var(--teal-600);
  background-color: var(--teal-900);
  color: var(--teal-400);
  letter-spacing: -.45px;
  border-radius: 16px;
  height: 56px;
  margin-bottom: 0;
  padding: 0 16px;
  font-size: 18px;
}

.text-field:hover, .text-field:focus {
  border-color: var(--teal-400);
}

.text-field::placeholder {
  color: var(--teal-600);
}

.nav-container-old {
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding-left: 4.63vw;
  padding-right: 4.63vw;
  display: flex;
}

.nav-menu-old-2 {
  background-color: var(--teal-900);
}

.nav-menu-old-2.padding-top-80px {
  display: none;
}

.nav {
  z-index: 2147483647;
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
}

.nav-container-button.w--open {
  background-color: var(--teal-900);
}

.nav-container-button.hover-opacity {
  padding: 20px;
}

.padding-top-80px-old {
  padding-top: 80px;
}

.padding-top-80px-old.padding-8px.mobile-header {
  color: var(--white);
}

.container-narrow {
  max-width: 686px;
}

.paragraph-small-old {
  box-sizing: border-box;
  color: var(--white);
  text-align: left;
  letter-spacing: -.32px;
  flex: 0 auto;
  align-self: baseline;
  margin-bottom: 0;
  font-size: 17px;
  line-height: 170%;
  display: block;
}

.paragraph-small-old.centered_text.padding-16px.copyright {
  color: var(--teal-400);
  font-size: 15px;
}

.paragraph-small-old.date-published {
  text-align: right;
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
  margin-top: auto;
  font-size: 13px;
  font-style: italic;
  text-decoration: none;
}

.padding-top-40px-old {
  padding-top: 40px;
}

.padding-top-16px-old {
  padding-top: 16px;
}

.padding-top-32px-old {
  padding-top: 32px;
}

.padding-top-56px-old {
  padding-top: 56px;
}

.centered-text {
  text-align: center;
}

.paragraph-large-old {
  letter-spacing: -.44px;
  font-size: 22px;
  line-height: 145%;
}

.elevation {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--teal-600);
  background-color: var(--teal-800);
  cursor: pointer;
  border-radius: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  box-shadow: 0 16px 40px #00000080;
}

.elevation:hover {
  background-color: var(--teal-750);
}

.elevation.padding-2-34vw.card {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
  height: 100%;
  padding-bottom: 1.7vw;
  display: flex;
}

.paragraph-large-bold-old {
  color: var(--white);
  letter-spacing: -.44px;
  font-size: 22px;
  font-weight: 600;
  line-height: 145%;
}

.paragraph-small-bold-old {
  color: var(--white);
  letter-spacing: -.32px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 170%;
}

.paragraph-small-bold-old.color-orange {
  color: var(--bright-teal-500);
}

.paragraph-small-bold-old.padding-24px.color-grey {
  padding-top: 0;
}

.paragraph-default-bold-old {
  color: var(--white);
  font-weight: 600;
}

.paragraph-default-bold-old.padding-24px.padding-above {
  padding-top: 47px;
}

.paragraph-default-bold-old.padding-16px {
  order: 0;
}

.landing-resource_card_flex {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  text-align: left;
  align-items: flex-start;
  display: flex;
}

.inline {
  display: inline;
}

.landing-bookmark_icon {
  position: absolute;
  inset: -1px 24px auto auto;
}

.footer {
  grid-column-gap: 17.25vw;
  grid-row-gap: 17.25vw;
  grid-template-rows: auto;
  grid-template-columns: 23.5vw 23.5vw;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 70vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.database-outer-grid {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 778px 222px;
}

.database-outer-grid.padding-128px {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
}

.checkbox {
  border-color: var(--teal-600);
  cursor: pointer;
  border-radius: 4px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin: 0 8px 0 0;
}

.checkbox:hover {
  border-color: var(--teal-400);
}

.checkbox.w--redirected-checked {
  border: 1px solid var(--bright-teal-500);
  background-color: var(--bright-teal-500);
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-size: auto;
  box-shadow: 0 12px 24px #0003;
}

.checkbox.w--redirected-focus {
  box-shadow: none;
}

.checkbox-field {
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.checkbox-field.padding-16px {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}

.form_block {
  margin-bottom: 0;
  overflow: hidden;
}

.form_block.mobile-filters {
  height: 0;
}

.about-grid {
  grid-column-gap: 5.21vw;
  grid-row-gap: 5.21vw;
  grid-template-rows: auto;
  grid-template-columns: 42.36vw 16.67vw;
}

.about-primary_div {
  border-right: 1px solid var(--teal-700);
  padding-right: 5.27vw;
}

.color-white-old {
  color: var(--white);
}

.color-white-old.padding-40px.ratio-auto {
  padding-top: 0;
}

.color-white-old.padding-40px.ratio-auto.contact-us {
  color: var(--white);
  display: block;
}

.color-white-old.padding-16px.ratio-auto.contact-us {
  padding-bottom: 8px;
  display: block;
}

.about-image {
  border-radius: 40px;
  width: 80px;
  height: 80px;
}

.about-image_div {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  align-items: center;
  display: flex;
}

.span-5 {
  width: 30.27vw;
}

.donating-inner_grid {
  grid-column-gap: 3.7vw;
  grid-row-gap: 3.7vw;
  grid-template-rows: auto;
  grid-template-columns: 16.67vw 30.27vw;
}

.database-top-grid {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  grid-template-rows: auto;
  grid-template-columns: 369px 369px 222px;
  justify-items: stretch;
}

.database-top-grid.padding-80px {
  grid-column-gap: 3.7vw;
  grid-row-gap: 3.7vw;
  grid-template-rows: auto;
  grid-template-columns: 26.94vw 26.94vw 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.color-grey-old {
  color: var(--teal-400);
}

.flex-horizontal_center {
  align-items: center;
  display: flex;
}

.collection-item {
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.collection-list {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 369px 369px;
  grid-auto-columns: 1fr;
  margin-left: 0;
  margin-right: 0;
  display: grid;
}

.form-block {
  margin-bottom: 0;
}

.form-block.padding-56px {
  padding-bottom: 56px;
}

.image-3 {
  display: block;
}

.tabs-menu {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-direction: column;
  display: flex;
}

.tabs-flex {
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.tab-link {
  border: 1px solid var(--teal-700);
  color: var(--white);
  background-color: #0000;
  border-radius: 24px;
  height: 48px;
  padding-left: 16px;
}

.tab-link:hover {
  background-color: var(--teal-850);
  box-shadow: 0 12px 5px #0003;
}

.tab-link.w--current {
  border: 1px solid var(--teal-700);
  background-color: var(--teal-850);
  box-shadow: 0 12px 24px #0003;
}

.tabs-content {
  color: var(--teal-300);
  width: 50.64vw;
}

.hover-opacity:hover {
  opacity: .8;
}

.up-button {
  aspect-ratio: auto;
  text-align: center;
  cursor: pointer;
  background-color: #0d111600;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin: 1px 11px 3px;
  padding: 12px;
  position: fixed;
  inset: auto 0% 0% auto;
}

.body {
  padding-top: 0;
  padding-bottom: 0;
}

.featured-img {
  border-radius: 4px;
  justify-content: center;
  align-self: auto;
  align-items: center;
  min-width: 64px;
  max-width: 64px;
  height: 64px;
  max-height: 64px;
  display: flex;
}

.featured-img-title-flex {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.featured-img-title-flex.padding-24px {
  display: flex;
}

.padding-2-34vw {
  padding: 2.34vw;
}

.position-relative {
  position: relative;
}

.position-relative.elevation.padding-2-34vw.card-featured {
  background-color: var(--teal-850);
}

.width-7-col-old {
  width: 43.81vw;
  min-width: 43.81vw;
  max-width: 43.81vw;
}

.featured-logo {
  aspect-ratio: auto;
  object-fit: fill;
  object-position: 50% 50%;
  border-radius: 4px;
  max-height: 100%;
  margin: auto;
  display: block;
  position: static;
}

.card-image {
  cursor: pointer;
  border-radius: 4px;
  max-width: 64px;
  max-height: 64px;
}

.html-embed {
  margin-bottom: 42px;
}

.html-embed.last {
  margin-bottom: 68px;
}

.paragraph-bottom-margin {
  white-space: normal;
  margin-bottom: 8px;
}

.image-7 {
  border-radius: 4px;
}

.top-buttons {
  grid-column-gap: 5vw;
  grid-row-gap: 5vw;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-buttons.map-buttons {
  grid-column-gap: 59px;
  grid-row-gap: 59px;
}

.text-block {
  padding-bottom: 24px;
  font-size: 16px;
}

.text-block.padding-80px {
  padding-bottom: 80px;
  padding-left: 0;
  font-size: 14px;
}

.text-block.padding-80px.left-padding {
  color: var(--teal-400);
  padding-bottom: 40px;
  padding-left: 3px;
}

.text-block-2 {
  padding-bottom: 24px;
  font-size: 14px;
}

.text-block-2.padding-40px {
  padding-bottom: 40px;
}

.text-block-2.padding-40px.left-padding {
  padding-left: 3px;
}

.text-block-4 {
  padding-bottom: 24px;
}

.text-block-4.padding-80px {
  padding-bottom: 80px;
}

.text-block-4.padding-80px.left-padding {
  color: var(--teal-400);
  -webkit-text-stroke-color: var(--teal-400);
  padding-bottom: 40px;
  padding-left: 2px;
  font-size: 14px;
}

.text-block-5 {
  padding-bottom: 24px;
}

.text-block-5.padding-80px {
  padding-bottom: 80px;
}

.text-block-5.padding-80px.left-padding {
  color: var(--teal-400);
  padding-bottom: 40px;
  padding-left: 1px;
  font-size: 14px;
}

.code-embed {
  box-sizing: border-box;
  text-align: center;
}

.form {
  display: none;
}

.heading-3 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.image-8 {
  align-self: center;
}

.link-2 {
  color: var(--teal-300);
  display: block;
}

.up-button-anchor {
  width: 1px;
  height: 1px;
  position: absolute;
}

.jobs-collection {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3.45vw;
  display: block;
}

.image-9 {
  border-radius: 2px;
  max-height: 100%;
}

.side-button {
  color: var(--teal-300);
}

.side-button.padding-top-56px.max-width {
  max-width: 650px;
}

.featured-paragraph, .paragraph-5, .paragraph-6, .div-block-7 {
  color: var(--teal-300);
}

.contribute-buttons {
  border: 0 solid #3b4249;
  border-top-width: 1px;
  border-radius: 0;
  padding-top: 40px;
  font-size: 16px;
}

.contribute-buttons.text-18 {
  font-size: 18px;
}

.watermark {
  opacity: .23;
  position: absolute;
  inset: 0 13.5vw auto auto;
}

.site-logo {
  font-size: 26px;
}

.mapbox-container-old {
  width: 100%;
  height: 80vh;
}

.filter-count {
  opacity: .8;
  color: var(--teal-500);
  letter-spacing: -.2px;
  flex: none;
  justify-content: center;
  align-self: baseline;
  align-items: flex-end;
  margin-left: 4px;
  font-size: 13px;
  line-height: 167.5%;
}

.pagination {
  display: none;
}

.display-block {
  display: block;
}

.paragraph-xs {
  text-align: left;
  letter-spacing: -.2px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 167.5%;
}

.paragraph-xs.color-teal-300 {
  font-style: normal;
}

.paragraph-xs.color-teal-300.date-published {
  flex-flow: row;
  display: flex;
}

.paragraph-xs.color-teal-300.italic {
  font-style: italic;
}

.text_field-2 {
  color: #8e999a;
  background-color: #00191b;
  border: 1px solid #556667;
  border-radius: 4px;
  height: 56px;
  margin-bottom: 0;
  padding: 0 16px;
  font-size: 16px;
}

.text_field-2:hover, .text_field-2:focus {
  border-color: #8e999a;
}

.text_field-2::placeholder {
  color: #556667;
}

.padding-16px {
  padding-bottom: 16px;
}

.color-teal {
  color: #6cbdbb;
}

.padding-8px {
  padding-bottom: 8px;
}

.padding-8px.opacity-80.hover-60:hover {
  opacity: .6;
}

.elevation-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  cursor: pointer;
  background-color: #1c3334;
  border: 1px solid #556667;
  border-radius: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  box-shadow: 0 16px 40px #00000080;
}

.elevation-2:hover {
  background-color: #2a3f41;
}

.shadow-text {
  text-shadow: 0 0 12px #00191bcc;
}

.padding-top-40px {
  padding-top: 40px;
}

.div-divider-2 {
  color: #1c3334;
  background-color: #556667;
  height: 1px;
}

.padding-top-288px {
  padding-top: 288px;
}

.drop-shadow-light {
  box-shadow: 0 12px 24px #00191b14;
}

.padding-top-192px {
  padding-top: 192px;
}

.flex-gap-32px {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  display: flex;
}

.button-2 {
  color: #00191b;
  background-color: #fff;
  border-radius: 6px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  display: block;
}

.width-12-col {
  width: 1056px;
}

.width-6-col {
  width: 500px;
  min-width: 500px;
}

.drop-shadow-dark {
  box-shadow: 0 12px 24px #00191b80;
}

.width-9-col {
  width: 778px;
  min-width: 778px;
}

.padding-top-104px {
  padding-top: 104px;
}

.button-secondary {
  letter-spacing: -.3px;
  border: 1px solid #fff6;
  border-radius: 24px;
  align-items: center;
  width: auto;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 165%;
  display: inline-flex;
}

.button-secondary:hover {
  background-color: #ffffff14;
  border-color: #fff6;
}

.padding-12px {
  padding-bottom: 12px;
}

.flex-gap-8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.opacity-80 {
  opacity: .8;
}

.opacity-80.hover-60:hover {
  opacity: .6;
}

.width-3-col {
  width: 222px;
  min-width: 222px;
}

.placeholder {
  background-color: #6cbdbb;
  height: 16px;
}

.padding-104px {
  padding-bottom: 104px;
}

.flex-gap-16px {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  display: flex;
}

.width-11-col {
  width: 963px;
}

.padding-24px-2 {
  padding-bottom: 24px;
}

.padding-top-32px {
  padding-top: 32px;
}

.margin-40px {
  margin-bottom: 40px;
}

.padding-top-56px {
  padding-top: 56px;
}

.margin-24px {
  margin-bottom: 24px;
}

.paragraph-small {
  letter-spacing: -.3px;
  font-size: 15px;
  line-height: 165%;
}

.padding-40px {
  padding-bottom: 40px;
}

.padding-40px.hover-opacity {
  border-radius: 0;
  max-width: 410px;
}

.width-7-col {
  width: 593px;
}

.flex-gap-56px {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  justify-content: center;
  display: flex;
}

.padding-top-80px {
  padding-top: 80px;
}

.padding-56px {
  padding-bottom: 56px;
}

.color-teal-400 {
  color: var(--teal-400);
}

.drop-shadow {
  box-shadow: 0 12px 24px #0003;
}

.paragraph-default-bold {
  font-weight: 600;
}

.flex-gap-40px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  display: flex;
}

.width-8-col {
  width: 685px;
}

.paragraph-xs-bold {
  text-align: left;
  letter-spacing: -.2px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 167.5%;
  overflow: visible;
}

.flex-gap-24px {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  display: flex;
}

.button-primary {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  color: #00191b;
  letter-spacing: -.3px;
  background-color: #fff;
  border-radius: 24px;
  flex: none;
  align-items: center;
  width: auto;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 15px;
  font-weight: 600;
  line-height: 165%;
  display: inline-flex;
}

.button-primary:hover {
  opacity: .9;
}

.button-primary.drop-shadow:hover {
  opacity: 1;
  background-color: #f3f3f3;
}

.padding-8px-3 {
  padding-bottom: 8px;
}

.paragraph-small-bold {
  letter-spacing: -.3px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 165%;
}

.width-10-col {
  width: 871px;
}

.padding-80px {
  padding-bottom: 80px;
}

.container-default {
  max-width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.width-5-col {
  width: 407px;
}

.width-1-col {
  width: 37px;
}

.padding-128px {
  padding-bottom: 128px;
}

.padding-32px {
  color: #fff;
  padding-bottom: 32px;
}

.padding-288px {
  padding-bottom: 288px;
}

.padding-192px {
  padding-bottom: 192px;
}

.width-4-col {
  width: 315px;
  min-width: 315px;
}

.padding-24px {
  padding-bottom: 24px;
}

.padding-top-24px {
  padding-top: 24px;
}

.padding-top-128px {
  padding-top: 128px;
}

.width-2-col {
  width: 129px;
  min-width: 129px;
}

.color-white {
  color: #fff;
}

.padding-top-16px {
  padding-top: 16px;
}

.padding-4px {
  padding-bottom: 4px;
}

.margin-128px {
  margin-bottom: 128px;
}

.padding-right-24px {
  padding-right: 24px;
}

.padding-top-8px {
  padding-top: 8px;
}

.hero-bg {
  z-index: -1;
  object-fit: none;
  width: 1600px;
  height: 600px;
  position: absolute;
  inset: 0% 0% auto 50%;
}

.nav-item-icon {
  background-color: #fff;
  border-radius: 16px;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 32px;
  height: 32px;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.nav-item-old.w--current {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #a6dad94d;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 4px;
  padding-right: 16px;
  display: flex;
}

.mobile-nav {
  display: none;
}

.flex {
  grid-column-gap: 56px;
  grid-row-gap: 32px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 23.38vw 23.38vw;
  display: flex;
}

.flex-horizontal-8px {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.nav-item-last {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #a6dad94d;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.nav-item-last:hover {
  background-color: var(--teal-850);
  box-shadow: 0 12px 24px #00191b80;
}

.nav-item-last.w--current {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #a6dad94d;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.card-half-width_bottom-card {
  background-color: #05181a66;
  border-radius: 8px;
  width: 476px;
  min-width: 436px;
  margin-left: -40px;
  padding: 40px;
  position: relative;
}

.aisafety-info {
  grid-column-gap: 313px;
  grid-row-gap: 313px;
  border: 1px solid #6cbdbb;
  border-radius: 16px;
  align-items: center;
  padding: 56px;
  display: flex;
  position: relative;
}

.card-half-width_bottom-card-light {
  background-color: #05181a33;
  border-radius: 8px;
  width: 476px;
  min-width: 436px;
  margin-left: -40px;
  padding: 40px;
  position: relative;
}

.card-full-width-2-left-card {
  background-color: #05181a99;
  border-radius: 16px 0 0 16px;
  width: 460px;
  min-width: 460px;
  height: 375px;
  padding: 56px;
  display: block;
}

.card-half-width-2 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: url('../images/handshape-compressed-better.webp'), radial-gradient(circle at 20% 0, #094141, #073536);
  background-position: 50% 82%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
  border-radius: 16px;
  flex-flow: column;
  width: 508px;
  height: 680px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.card-third-width-2 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
  border-radius: 16px;
  flex-flow: column;
  width: 325px;
  height: 510px;
  padding: 40px 40px 0;
  display: flex;
  position: relative;
}

.card-half-width-3 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: url('../images/phone-COMPRESSED.png'), radial-gradient(circle at 20% 0, #094141, #073536);
  background-position: 50% 100%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 100%, auto;
  border-radius: 16px;
  flex-flow: column;
  width: 508px;
  height: 680px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.card-third-width-1 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: url('../images/advising-call-EDITED.webp');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  flex-flow: column;
  width: 325px;
  height: 510px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: relative;
}

.card-full-width {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-image: url('../images/amsterdam.png');
  background-position: 50% 0;
  background-size: cover;
  border-radius: 16px;
  height: 375px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.card-full-width-2 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-image: url('../images/map-bg.png');
  background-position: 50%;
  background-size: 111%;
  border-radius: 16px;
  height: 375px;
  position: relative;
  overflow: hidden;
}

.card-full-width-2.margin-40px {
  background-image: url('../images/map-1.png');
  background-position: 40%;
  background-repeat: repeat;
  background-size: 1400px;
  background-attachment: scroll;
}

.card-half-width-main-text {
  max-width: 318px;
}

.card-full-width-3 {
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  background-image: url('../images/faces-desktop.png'), radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
  background-position: 50%, 0 0;
  background-size: 1056px, auto;
  border-radius: 16px;
  height: 375px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.card-full-width-3.margin-40px {
  background-image: url('../images/faces-desktop-COMPRESSED.png'), radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
}

.card-third-width-3 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-image: url('../images/hands-COMPRESSED.webp'), radial-gradient(circle at 20% 0, #094141, #073536);
  background-position: 100% 89%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: 88%, auto;
  border-radius: 16px;
  flex-flow: column;
  width: 325px;
  height: 510px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  position: relative;
}

.card-half-width-4 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
  border-radius: 16px;
  flex-flow: column;
  width: 508px;
  height: 680px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.cards-grid {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  flex-flow: wrap;
  display: flex;
}

.cards-grid.margin-40px, .cards-grid.padding-104px {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.date-alt {
  position: absolute;
  inset: 12px 16px auto auto;
}

.card-third-width-bottom-card {
  background-color: #05181a33;
  border-radius: 8px;
  min-width: 293px;
  margin-left: -24px;
  padding: 32px 32px 34px;
  position: relative;
}

.card-half-width-1 {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  background-image: url('../images/keyboard.png');
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  flex-flow: column;
  width: 508px;
  height: 680px;
  padding-top: 56px;
  padding-left: 56px;
  padding-right: 56px;
  display: flex;
  position: relative;
}

.card-full-width-right-card-light {
  background-color: #05181a33;
  border-radius: 8px;
  width: 436px;
  min-width: 436px;
  margin-top: -40px;
  margin-bottom: 16px;
  margin-right: -40px;
  padding: 40px;
  position: relative;
}

.date {
  position: absolute;
  inset: auto auto 16px 16px;
}

.card_full_width-right_card {
  background-color: #05181a66;
  border-radius: 8px;
  width: 436px;
  min-width: 436px;
  margin-top: -40px;
  margin-bottom: 16px;
  margin-right: -40px;
  padding: 40px;
  position: relative;
}

.bookmark {
  position: absolute;
  inset: 0% 24px auto auto;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-container-old-old {
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 24px 40px;
  display: flex;
}

.nav-item {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid #a6dad94d;
  border-radius: 20px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 4px;
  padding-right: 16px;
  display: flex;
}

.nav-item:hover {
  background-color: var(--teal-850);
  box-shadow: 0 12px 24px #00191b80;
}

.nav-item.w--current {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--teal-850);
  border: 1px solid #a6dad94d;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding-left: 4px;
  padding-right: 16px;
  display: flex;
  box-shadow: 0 12px 24px #00191b80;
}

.nav-button-container {
  border: 1px solid #fff3;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  padding: 8px 16px;
}

.nav-button-container.w--open {
  background-color: #00191b;
}

.card {
  border: 1px solid var(--teal-700);
  background-color: var(--teal-850);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 12px 24px #0000004d;
}

.card:hover {
  background-color: var(--teal-800);
}

.color-teal-300 {
  color: var(--teal-300);
}

.featured-card {
  border: 1px solid var(--teal-700);
  background-color: var(--teal-850);
  border-radius: 16px;
  width: 369px;
  padding: 40px;
  position: relative;
}

.featured-card:hover {
  background-color: var(--teal-800);
}

.date-published {
  text-align: right;
  position: absolute;
  inset: auto 24px 24px auto;
}

.icon-homepage {
  border-radius: 4px;
  width: 56px;
  height: 56px;
}

.border-right {
  border-right: 1px solid var(--teal-700);
  margin-right: 18px;
  padding-right: 74px;
}

.link-block {
  flex: none;
}

.display-inline {
  display: inline-flex;
}

.checkbox-2 {
  cursor: pointer;
  border-color: #556667;
  border-radius: 4px;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  margin: 0 8px 0 0;
}

.checkbox-2:hover {
  border-color: #8e999a;
}

.checkbox-2.w--redirected-checked {
  background-color: #6cbdbb;
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-size: auto;
  border-color: #81878f;
}

.checkbox-2.w--redirected-focus {
  box-shadow: none;
}

.side-button-2 {
  color: #aab2b3;
}

.checkbox_field {
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

.color-grey {
  color: #8e999a;
}

.paragraph-default-bold-2, .paragraph-default-bold-3 {
  font-weight: 600;
}

.mapbox-container {
  width: 100%;
  height: 77vh;
}

.brand {
  flex: none;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.color-light-teal {
  color: var(--bright-teal-300);
}

.menu-dropdown {
  background-color: var(--teal-850);
  padding: 24px;
  position: absolute;
  inset: 48px 0% 0% auto;
}

.container-wide {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.div-block-11 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-11.date-published {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.button-primary-small {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  color: #00191b;
  letter-spacing: -.3px;
  background-color: #fff;
  border-radius: 24px;
  flex: none;
  align-items: center;
  width: auto;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 15px;
  font-weight: 600;
  line-height: 165%;
  display: inline-flex;
}

.button-primary-small:hover {
  opacity: .9;
}

.button-primary-small.map-button.drop-shadow {
  cursor: pointer;
}

.button-primary-small.map-button.drop-shadow:hover {
  opacity: 1;
  outline-color: var(--teal-600);
  outline-offset: 0px;
  background-color: #f3f3f3;
  border: 0 solid #000;
  outline-width: 1px;
  outline-style: none;
}

.video {
  margin-bottom: 40px;
}

@media screen and (max-width: 991px) {
  body {
    letter-spacing: -.3px;
    font-size: 15px;
    line-height: 165%;
  }

  h1 {
    letter-spacing: -3.36px;
    font-size: 56px;
    line-height: 120%;
  }

  h2 {
    letter-spacing: -.96px;
    font-size: 24px;
    line-height: 125%;
  }

  h3 {
    letter-spacing: -.8px;
    font-size: 20px;
    line-height: 130%;
  }

  .text-field {
    letter-spacing: -.3px;
    font-size: 15px;
  }

  .nav {
    width: 100%;
    padding-left: 6.4vw;
    padding-right: 6.4vw;
    display: block;
  }

  .paragraph-default-bold-old {
    overflow-wrap: break-word;
  }

  .database-outer-grid {
    grid-template-columns: 100%;
  }

  .database-top-grid.padding-80px {
    grid-template-columns: 1fr 1fr;
    margin-bottom: -50px;
  }

  .collection-list {
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }

  .form-block.padding-56px {
    padding-bottom: 56px;
  }

  .card-image {
    border-radius: 4px;
  }

  .paragraph-bottom-margin {
    margin-bottom: 12px;
  }

  .jobs-collection {
    padding-bottom: 0;
  }

  .collection-list-wrapper {
    overflow: visible;
  }

  .featured {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-bottom: 0;
    display: block;
  }

  .hide-tablet {
    display: none;
  }

  .display-block {
    display: block;
  }

  .paragraph-xs {
    font-size: 11px;
    line-height: 170%;
  }

  .padding-16px {
    padding-bottom: 12px;
  }

  .padding-8px {
    padding-bottom: 6px;
  }

  .padding-top-40px {
    padding-top: 24px;
  }

  .padding-top-288px {
    padding-top: 128px;
  }

  .padding-top-192px {
    padding-top: 80px;
  }

  .flex-gap-32px {
    flex-flow: column;
  }

  .width-12-col {
    width: 100%;
  }

  .width-6-col, .width-9-col {
    width: 100%;
    min-width: 100%;
  }

  .padding-top-104px {
    padding-top: 48px;
  }

  .button-secondary {
    letter-spacing: -.2px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    line-height: 167.5%;
  }

  .padding-12px {
    padding-bottom: 8px;
  }

  .width-3-col {
    width: 100%;
  }

  .padding-104px {
    padding-bottom: 48px;
  }

  .flex-gap-16px {
    flex-flow: column;
  }

  .width-11-col {
    width: 100%;
  }

  .padding-24px-2 {
    padding-bottom: 16px;
  }

  .padding-top-32px {
    padding-top: 16px;
  }

  .margin-40px {
    margin-bottom: 24px;
  }

  .padding-top-56px {
    padding-top: 32px;
  }

  .margin-24px {
    margin-bottom: 16px;
  }

  .paragraph-small {
    letter-spacing: -.2px;
    font-size: 13px;
    line-height: 167.5%;
  }

  .padding-40px {
    padding-bottom: 24px;
  }

  .width-7-col {
    width: 100%;
  }

  .flex-gap-56px {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
  }

  .padding-top-80px {
    padding-top: 40px;
  }

  .padding-56px {
    padding-bottom: 32px;
  }

  .flex-gap-40px {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-flow: column;
  }

  .width-8-col {
    width: 100%;
  }

  .paragraph-xs-bold {
    font-size: 11px;
    line-height: 170%;
  }

  .flex-gap-24px {
    flex-flow: column;
  }

  .button-primary {
    letter-spacing: -.2px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    line-height: 167.5%;
  }

  .padding-8px-3 {
    padding-bottom: 6px;
  }

  .paragraph-small-bold {
    letter-spacing: -.2px;
    font-size: 13px;
    line-height: 167.5%;
  }

  .hide-mobile {
    display: none;
  }

  .width-10-col {
    width: 100%;
  }

  .padding-80px {
    padding-bottom: 40px;
  }

  .container-default {
    max-width: 87.2vw;
  }

  .width-5-col, .width-1-col {
    width: 100%;
  }

  .padding-128px {
    padding-bottom: 56px;
  }

  .padding-32px {
    padding-bottom: 16px;
  }

  .padding-288px {
    padding-bottom: 128px;
  }

  .padding-192px {
    padding-bottom: 56px;
  }

  .width-4-col {
    width: 100%;
  }

  .padding-24px {
    padding-bottom: 16px;
  }

  .padding-top-24px {
    padding-top: 16px;
  }

  .padding-top-128px {
    padding-top: 56px;
  }

  .width-2-col {
    width: 100%;
    min-width: 100%;
  }

  .margin-128px {
    margin-bottom: 56px;
  }

  .paragraph-11 {
    font-size: 13px;
    line-height: 167.5%;
  }

  .close-button {
    margin-top: -16px;
    margin-bottom: 8px;
    padding: 16px;
  }

  .mobile-nav {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    background-color: #00191be6;
    background-image: radial-gradient(circle at 20% 0, #094141, #04292a);
    flex-flow: column;
    width: 100vw;
    height: 100vw;
    padding-top: 4.27vw;
    padding-left: 4.27vw;
    padding-right: 4.27vw;
    inset: 0%;
  }

  .hamburger {
    border: 1px solid #fff6;
    border-radius: 20px;
    padding: 8px 16px;
    line-height: 0%;
    display: block;
  }

  .flex.flex-direction-vertical.flex-column-gap-8px {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }

  .card-half-width_bottom-card {
    width: auto;
    min-width: auto;
    margin: auto -24px 8px;
    padding: 24px;
  }

  .aisafety-info {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: 32px;
  }

  .card-half-width_bottom-card-light {
    width: auto;
    min-width: auto;
    margin: auto -24px 8px;
    padding: 24px;
  }

  .card-full-width-2-left-card {
    border-top-right-radius: 16px;
    border-bottom-left-radius: 0;
    width: auto;
    min-width: auto;
    height: auto;
    padding: 32px;
  }

  .card-half-width-2 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 100%;
    height: 610px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-third-width-2 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-half-width-3 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 100%;
    height: 610px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-third-width-1 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-size: 100%;
    width: 100%;
    height: 610px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-full-width {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    height: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-full-width-2 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-size: auto;
    flex-flow: column;
    height: 610px;
  }

  .card-full-width-3 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-image: url('../images/faces-mobile.png'), radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
    background-position: 50% 0, 0 0;
    background-repeat: no-repeat, repeat;
    background-size: 343px, auto;
    background-attachment: scroll, scroll;
    flex-flow: column;
    height: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-full-width-3.margin-40px {
    background-image: radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7), linear-gradient(#0000, #0000);
    background-position: 0 0, 0 0;
    background-repeat: repeat, repeat;
    background-size: auto, auto;
    background-attachment: scroll, scroll;
  }

  .paragraph-12 {
    font-size: 13px;
    line-height: 167.5%;
  }

  .card-third-width-3 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 100%;
    height: 610px;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-half-width-4 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    background-image: radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7);
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .cards-grid.margin-40px, .cards-grid.padding-104px {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .date-alt {
    inset: 8px 8px auto auto;
  }

  .card-third-width-bottom-card {
    width: auto;
    min-width: auto;
    margin: auto -24px 8px;
    padding: 24px;
  }

  .card-half-width-1 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    width: 100%;
    height: auto;
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .card-full-width-right-card-light {
    width: auto;
    min-width: auto;
    margin: auto -24px 8px;
    padding: 24px;
  }

  .date {
    inset: 8px 8px auto auto;
  }

  .card_full_width-right_card {
    width: auto;
    min-width: auto;
    margin: auto -24px 8px;
    padding: 24px;
  }

  .nav-button-container {
    border: 1px solid #fff3;
    border-radius: 24px;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 40px;
    padding: 8px 16px;
    display: flex;
  }

  .featured-card {
    width: 100%;
  }

  .border-right {
    border-bottom: 1px solid var(--teal-700);
    border-right-width: 0;
    padding-bottom: 30px;
  }

  .brand.padding-right-24px {
    display: flex;
  }

  .menu-button {
    padding: 0;
    display: flex;
  }

  .menu-button.w--open {
    background-color: #0000;
  }

  .nav-menu {
    background-color: #05181acc;
    flex-flow: column;
    height: 100vh;
    padding: 16px 6.4vw;
    display: block;
  }

  .button-primary-small {
    letter-spacing: -.2px;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 13px;
    line-height: 167.5%;
  }
}

@media screen and (max-width: 767px) {
  body, h4 {
    letter-spacing: -.36px;
    font-size: 18px;
  }

  h5 {
    font-size: 18px;
  }

  p {
    letter-spacing: -.3px;
    font-size: 15px;
    line-height: 165%;
  }

  .container-default-old {
    max-width: 87.2vw;
  }

  .container-default-old.padding-128px {
    padding-bottom: 160px;
  }

  .padding-24px-old, .padding-32px-old {
    padding-bottom: 16px;
  }

  .padding-40px-old {
    padding-bottom: 24px;
  }

  .padding-40px-old.ratio-auto {
    aspect-ratio: auto;
  }

  .padding-56px-old {
    padding-bottom: 32px;
  }

  .padding-80px-old {
    padding-bottom: 40px;
  }

  .padding-128px-old {
    padding-bottom: 56px;
  }

  .grid-4-4-4 {
    grid-template-columns: 100%;
  }

  .div-divider.margin-80px {
    margin-bottom: 40px;
  }

  .margin-128px-old {
    margin-bottom: 56px;
  }

  .hide-mobile-old {
    display: none;
  }

  .hide-desktop.filter-button {
    padding-left: 0;
    padding-right: 0;
    display: flex;
  }

  .hide-desktop.filter-button.padding-56px {
    filter: none;
  }

  .text-field {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .nav-container-old {
    height: 71px;
    margin-bottom: 0;
    padding-left: 6.4vw;
    padding-right: 6.4vw;
  }

  .nav-menu-old-2 {
    background-color: var(--teal-900);
    margin-right: 0;
  }

  .nav {
    position: relative;
    top: auto;
    left: auto;
  }

  .nav-container-button {
    margin-right: -16px;
    padding: 16px;
    display: block;
  }

  .nav-container-button.w--open {
    background-color: #0000;
  }

  .padding-top-80px-old {
    padding-top: 40px;
  }

  .padding-top-80px-old.padding-8px, .padding-top-80px-old.padding-8px.mobile-header {
    padding-bottom: 4px;
  }

  .container-narrow {
    max-width: 87.2vw;
  }

  .paragraph-small-old {
    letter-spacing: -.36px;
    font-size: 16px;
  }

  .paragraph-small-old.centered_text.padding-16px.copyright {
    font-size: 13px;
  }

  .padding-top-40px-old {
    padding-top: 24px;
  }

  .padding-top-32px-old {
    padding-top: 16px;
  }

  .padding-top-56px-old {
    padding-top: 32px;
  }

  .elevation.padding-2-34vw.card {
    padding-bottom: 3.9vw;
  }

  .paragraph-large-bold-old.padding-40px {
    aspect-ratio: auto;
  }

  .paragraph-small-bold-old {
    letter-spacing: -.36px;
  }

  .footer {
    grid-column-gap: 56px;
    grid-row-gap: 56px;
    grid-template-columns: 100%;
  }

  .database-outer-grid {
    grid-template-columns: 87.2vw;
  }

  .form_block {
    position: static;
    overflow: hidden;
  }

  .form_block.mobile-filters {
    height: auto;
  }

  .about-grid {
    grid-column-gap: 56px;
    grid-row-gap: 56px;
    grid-template-columns: 100%;
  }

  .about-primary_div {
    border-right-style: none;
    padding-right: 0;
  }

  .span-5 {
    width: 87.2vw;
  }

  .donating-inner_grid {
    grid-template-columns: 87.2vw;
  }

  .database-top-grid.padding-80px {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
    margin-bottom: 29px;
  }

  .collection-list {
    flex-flow: column;
    grid-template-columns: 87.2vw;
    justify-items: stretch;
  }

  .form-block {
    flex: 1;
  }

  .form-block.padding-56px {
    padding-bottom: 32px;
  }

  .tabs-menu {
    width: 87.2vw;
    margin-bottom: 80px;
  }

  .tabs-flex {
    flex-direction: column;
  }

  .tabs-content {
    width: 87.2vw;
  }

  .padding-2-34vw {
    padding: 5vw;
  }

  .position-relative.elevation.padding-2-34vw.card-featured {
    margin-bottom: 0;
    padding-bottom: 3.9vw;
    position: relative;
  }

  .width-7-col-old {
    width: 87.2vw;
    min-width: 87.21vw;
    max-width: 87.2vw;
  }

  .top-buttons {
    grid-template-columns: 1fr;
  }

  .text-block.padding-80px {
    padding-bottom: 40px;
  }

  .text-block.padding-80px.left-padding, .text-block-2.padding-40px {
    padding-bottom: 20px;
  }

  .text-block-2.padding-40px.left-padding {
    padding-left: 1px;
  }

  .text-block-4.padding-80px {
    padding-bottom: 40px;
  }

  .text-block-4.padding-80px.left-padding {
    padding-bottom: 20px;
  }

  .text-block-5.padding-80px {
    padding-bottom: 40px;
  }

  .text-block-5.padding-80px.left-padding {
    padding-bottom: 20px;
  }

  .div-block-9 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-flow: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: flex;
    position: relative;
  }

  .filter-button {
    filter: brightness(120%) grayscale(200%);
    pointer-events: auto;
    min-width: 24px;
    min-height: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .filter-button.active {
    filter: none;
  }

  .text_field-2 {
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .padding-top-40px {
    padding-top: 24px;
  }

  .padding-top-288px {
    padding-top: 128px;
  }

  .padding-top-192px {
    padding-top: 80px;
  }

  .width-12-col, .width-9-col {
    width: 87.2vw;
    min-width: 87.2vw;
    max-width: 87.2vw;
  }

  .padding-top-104px {
    padding-top: 48px;
  }

  .padding-104px {
    padding-bottom: 48px;
  }

  .width-11-col {
    width: 87.2vw;
    min-width: 87.2vw;
    max-width: 87.2vw;
  }

  .padding-24px-2 {
    padding-bottom: 16px;
  }

  .padding-top-32px {
    padding-top: 16px;
  }

  .padding-top-56px {
    padding-top: 32px;
  }

  .padding-40px {
    padding-bottom: 24px;
  }

  .padding-top-80px {
    padding-top: 40px;
  }

  .padding-56px {
    padding-bottom: 32px;
  }

  .paragraph-default-bold {
    letter-spacing: -.3px;
    font-size: 15px;
  }

  .width-8-col {
    width: 87.2vw;
    min-width: 87.2vw;
    max-width: 87.2vw;
  }

  .paragraph-small-bold {
    letter-spacing: -.36px;
  }

  .width-10-col {
    width: 87.2vw;
    min-width: 87.2vw;
    max-width: 87.28vw;
  }

  .padding-80px {
    padding-bottom: 40px;
  }

  .container-default {
    max-width: 87.2vw;
  }

  .padding-128px {
    padding-bottom: 56px;
  }

  .padding-32px {
    padding-bottom: 16px;
  }

  .padding-288px {
    padding-bottom: 128px;
  }

  .padding-192px {
    padding-bottom: 56px;
  }

  .padding-24px {
    padding-bottom: 16px;
  }

  .padding-top-24px {
    padding-top: 16px;
  }

  .padding-top-128px {
    padding-top: 56px;
  }

  .margin-128px {
    margin-bottom: 56px;
  }

  .flex {
    grid-template-columns: 100%;
  }

  .card-full-width-3.margin-40px {
    background-image: url('../images/faces-mobile.png'), radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7), linear-gradient(#0000, #0000);
    background-position: 0 0, 0 0, 0 0;
    background-size: cover, auto, auto;
    background-attachment: scroll, scroll, scroll;
  }

  .card-third-width-3 {
    background-position: 100% 80%, 0 0;
  }

  .card-half-width-1 {
    background-position: 50%;
  }

  .nav-container-old-old {
    height: 71px;
    margin-bottom: 0;
    padding-left: 6.4vw;
    padding-right: 6.4vw;
  }

  .nav-button-container {
    display: block;
  }

  .nav-button-container.w--open {
    background-color: #0000;
  }

  .card:hover {
    background-color: var(--teal-800);
  }

  .brand {
    padding-left: 0;
  }

  .menu-button {
    padding: 0;
  }

  .div-block-10 {
    overflow: clip;
  }

  .image-10, .image-11 {
    overflow: visible;
  }
}

@media screen and (max-width: 479px) {
  .grid-4-4-4 {
    grid-template-columns: 100%;
  }

  .grid-4-4-4.padding-56px.mobile {
    grid-row-gap: 23px;
    padding-bottom: 25px;
  }

  .grid-4-4-4.padding-80px {
    grid-row-gap: 23px;
  }

  .hide-desktop {
    padding-left: 16px;
  }

  .hide-desktop.filter-button {
    padding-left: 0;
    padding-right: 0;
  }

  .text-field:focus {
    background-color: var(--cool-grey-150\<deleted\|variable-1efc54f7\>);
  }

  .elevation.padding-2-34vw.card {
    padding-bottom: 2.9vw;
  }

  .database-top-grid {
    grid-row-gap: 32px;
  }

  .tab-link:hover {
    box-shadow: 0 12px 24px #0003;
  }

  .position-relative.elevation.padding-2-34vw.card-featured {
    padding-bottom: 2.9vw;
  }

  .top-buttons {
    grid-template-columns: 1fr;
  }

  .div-block-9 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .filter-button {
    padding-left: 16px;
    padding-right: 16px;
  }

  .text_field-2:focus {
    background-color: #ecf1f3;
  }

  .flex {
    grid-template-columns: 100%;
  }

  .card-half-width-2 {
    height: 470px;
  }

  .card-third-width-2 {
    background-position: 0 0, 0 0;
  }

  .card-half-width-3 {
    height: 470px;
  }

  .card-third-width-1 {
    background-position: 50% 100%;
    background-size: cover;
    height: 470px;
  }

  .card-half-width-main-text {
    width: auto;
  }

  .card-full-width-3 {
    background-position: 0 0, 0 0;
  }

  .card-full-width-3.margin-40px {
    background-image: url('../images/faces-mobile.png'), radial-gradient(circle at 20% 0, #6cbdbb, #4da9a7), linear-gradient(#0000, #0000);
    background-position: 50% 0, 0 0, 0 0;
    background-repeat: no-repeat, repeat, repeat;
    background-size: 100%, auto, auto;
    background-attachment: scroll, scroll, scroll;
  }

  .card-third-width-3 {
    background-position: 100% 88%, 0 0;
    background-size: 97%, auto;
    height: 470px;
  }

  .card-half-width-4 {
    background-position: 0 0, 0 0;
  }

  .cards-grid.margin-40px, .cards-grid.padding-104px {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .card-half-width-1 {
    background-position: 0 0, 0 0;
  }

  .nav-button-container {
    padding-bottom: 0;
  }

  .nav-menu {
    background-image: radial-gradient(circle at 20% 0, #094141, #04292a);
  }
}

#w-node-_5fb03552-e339-94d5-fa09-0e6ee40f957d-8aa7c4ed, #w-node-_5fb03552-e339-94d5-fa09-0e6ee40f9584-8aa7c4ed, #w-node-_4d68d045-732a-ee56-10ea-44e1f237467f-5e7078f6, #w-node-_02fed63e-47de-705f-e543-1b4c66cff54b-5e7078f6, #w-node-_67f99b40-f0cc-ef0c-394e-ba3e06bc7dab-5e7078f6, #w-node-_772af182-783f-8955-273e-8f42a1c176d9-5e7078f6, #w-node-_772af182-783f-8955-273e-8f42a1c176dc-5e7078f6, #w-node-_772af182-783f-8955-273e-8f42a1c176de-5e7078f6, #w-node-_772af182-783f-8955-273e-8f42a1c176e1-5e7078f6, #w-node-a212db34-0df2-36ae-d450-f7eea9654933-5e7078f6, #w-node-a212db34-0df2-36ae-d450-f7eea9654936-5e7078f6, #w-node-a212db34-0df2-36ae-d450-f7eea9654938-5e7078f6, #w-node-a212db34-0df2-36ae-d450-f7eea965493b-5e7078f6, #w-node-_6fae78f5-bdb7-43e8-cf26-8b72e93fe944-5e7078f6, #w-node-_6fae78f5-bdb7-43e8-cf26-8b72e93fe947-5e7078f6, #w-node-_6fae78f5-bdb7-43e8-cf26-8b72e93fe949-5e7078f6, #w-node-_6fae78f5-bdb7-43e8-cf26-8b72e93fe94a-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b8099767-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809976a-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809976c-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b8099779-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809977c-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809977e-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809977f-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b8099796-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b8099799-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809979b-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b809979c-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b80997c2-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b80997c5-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b80997c7-5e7078f6, #w-node-_2b0cc5a2-ad93-7fd9-ca16-b556b80997c8-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a43-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a46-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a48-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a55-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a58-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a5a-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a5b-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a72-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a75-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a77-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a78-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759a9e-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759aa1-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759aa3-5e7078f6, #w-node-b00525fe-a250-bbe6-a1b9-7ee942759aa4-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c87-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c8a-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c8c-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c99-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c9c-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c9e-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16c9f-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16cb6-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16cb9-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16cbb-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16cbc-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16ce2-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16ce5-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16ce7-5e7078f6, #w-node-cf271f12-d249-5be3-83b1-a776e4e16ce8-5e7078f6, #w-node-_817fb4d4-c1b5-45fc-c567-dc8efa20e6de-cc9093bd, #w-node-_817fb4d4-c1b5-45fc-c567-dc8efa20e6de-3317583b, #w-node-_817fb4d4-c1b5-45fc-c567-dc8efa20e6de-75589324, #w-node-e68310cd-483c-745d-9fc5-dc617575b638-f2b2bb52 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (max-width: 991px) {
  #w-node-a5fca3f6-6aa9-db98-948a-506fa4a8f604-cc9093bd {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


